body{
    height: 2000px;
}
.container{
    width: 600px;
    height: 600px;
    border: 5px solid brown;
}
.square{
    width: 100px;
    height: 100px;
}
/* position: static (mặc định) */
/* top right botton left chỉ có hiệu lực với none static */
.square1{
    background-color: red;
}

.square2{
    background-color: green;

    /* position: relative (tương đối so với vị trí ban đầu )*/
    position: relative;
    left: 100px;
}

.square3{
    background-color: blue;

    /* position: absolute */
    /* Vị trí tuyệt đối so với phần tử cha gần nhất khác static */
    position: absolute;
    left: 200px;
    top: 0px;
}
.square4{
    background-color: black;
    /* position: fixed 
    Vị trí cố định so với khung của trình duyệt*/
    position: fixed;
    right: 0px;
    bottom: 0px;
}

.square5{
    background-color: orange;
    /* postion: sticky
    sticky = relative + fixed */
    position: sticky;
    top: 0px;
    left: 250px;

}

#loading{
    width: 64px;
    height: 64px;
    border: 10px solid ;
    border-color: pink transparent;
    border-radius: 50%;
    animation: rotate 400ms linear infinite;
    position: absolute;
    top: 45%;
    left: 45%;
}

@keyframes rotate {
    0%{
        rotate: 0;
    }
    10%{
        rotate: 360deg;
}
    
}