@font-face {
    font-family: Agbalumo;
    src: url(../font/OFL.txt);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 1.25em;
    cursor: url(../img/BMW_i8_RoadsterCursor.png), default;
}

header {
    text-align: center;
    padding: 16px;
    background-color: #2ed574;
    color: #ffffff;
}

.container {
    display: flex;
    min-height: 75vh;
}

aside {
    padding: 24px 32px;
}

.menu {
    display: flex;
    flex-direction: column;
    row-gap: 16px;
    position: sticky;
    top: 16px;
}

.vr {
    width: 5px;
    background-color: rgb(23, 189, 23);
}

main {
  flex: 1;
  padding: 24px 32px;

}

.form-control{
    display: flex;
    flex-direction: column;
}

.form-control label::after{
    content: "*";
    color: red;
}

.form-control input{
    height: 40px;
    padding: 0 8px;
    font-family: inherit;
    font-size: inherit;
}

form{
    display: flex;
    flex-direction: column;
    row-gap: 16px;
    max-width: 500px;
}

.form-submit{
    display: flex;
    justify-content: space-between;
}

.form-submit input{
    font-size: inherit;
    font-family: inherit;
    padding: 0 8px;
    border-radius: 8px;
}

footer {
    text-align: center;
    padding: 16px 0;
    background-color: #212529;
    color: #ffffff;
}