* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Times New Roman', Times, serif;
}

body {
    background: rgba(0, 0, 0, 0.2) url(../ima/img2.jpg) center/cover no-repeat fixed;
    color: white;
}

a {
    color: whitesmoke;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    min-height: 100vh;
    padding: 1rem;
   

}

.form-signup {
    position: relative;
    padding: 4rem 5rem 4rem 5rem;
    border: 2px outset pink;
    border-radius: 15px;
    backdrop-filter: blur(25px);
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    color: lightpink;
    box-shadow: 10px 10px white;
}

.Sign-Up-header {
    display: flex;
    position: absolute;
    top: 0;
    left: 50%;
    align-items: center;
    justify-content: center;
    padding: 0.1rem 1rem;
    transform: translateX(-50%);
    border-radius: 0px 0px 20px 20px;
    background-color: gray ;
    color: whitesmoke ;
    font-size: clamp(1.4rem, 3vw, 1.5rem);
}

.signUp-form {
    display: flex;
    flex-direction: column;
    margin-top: clamp(0.3rem 1vw 1rem);
    font-size: clamp(0.8rem 2vw 1rem);
    gap: 1.2rem;
}

.input-dk {
    display: flex;
    position: relative;
    flex-direction: column;
    width: 220px;
}

.input-field {
    width: 110%;
    padding: 0.5rem;
    border: 2px solid gray;
    border-radius: 30px;
    outline: none;
    background: transparent;
    color: pink;
}

.label {
    position: absolute;
    top: 50%;
    left: 5%;
    transform: translateY(-50%);
    transition: 0.3s;
    font-size: 12px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.input-field:focus~.label,
.input-field:valid~.label {
    top: 0%;
    left: 0%;
    padding: 0 10px;
    border-radius: 30px;
    background-color: white;
    color: black;
}

.input-sign {
    width: 100%;
    padding: 0.6rem;
    border: none;
    border-radius: 30px;
    background-color: whitesmoke;
    font-size: clamp(1rem, 2vw, 1.3rem);
    font-weight: 600;
    cursor: pointer;
    transition: 0.9s;
    animation: button-text 0.5s infinite;
    margin-left: 12px;
    box-shadow: 3px 3px gray;

}

p{
    margin-left: 20px;
}

.input-login:hover {
    background: lightpink;
}

@keyframes button-text {
    0% {
        color: red;
    }

    50% {
        color: yellow;
    }
}